@inherits CloseTicketBase

<MatIconButton OnClick="@OpenDialog" >
    <MatIcon>
        <i class="oi oi-check"></i>
    </MatIcon>
</MatIconButton>
<MatDialog @bind-IsOpen="@DialogIsOpen">
    <MatDialogTitle>Close Ticket</MatDialogTitle>
    <MatDialogContent>
        <EditForm Model="@CloseTicketModel" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <br/>
            <div class="form-group row">
                <MatStringField TextArea="true" @bind-Value="CloseTicketModel.Resolution" Label="Resolution" ></MatStringField>
            </div>

            <MatButton type="submit">Close Ticket</MatButton>

        </EditForm>
    </MatDialogContent>
    <MatDialogActions>
    </MatDialogActions>
</MatDialog>
