@inherits EditProjectBase

<MatFAB Mini="true" OnClick="@OpenDialog" >
    <MatIcon>
        <i class="oi oi-plus"></i>
    </MatIcon>
</MatFAB>
<MatDialog @bind-IsOpen="@DialogIsOpen">
    <MatDialogTitle>New Project</MatDialogTitle>
    <MatDialogContent>
        <EditForm Model="@EntityModel" OnValidSubmit="SubmitProject">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group row">
                <MatStringField @bind-Value="EntityModel.Name" Label="Name" ></MatStringField>
            </div>

            <MatButton type="submit">Submit</MatButton>

        </EditForm>
    </MatDialogContent>
    <MatDialogActions>
    </MatDialogActions>
</MatDialog>