@using TicketPusher.API.Projects;
@using TicketPusher.API.Projects.Commands;

@inherits EditProjectBase

<EditForm Model="@ProjectModel" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <label>
        Project Name:
        <InputText id="name" @bind-Value="ProjectModel.Name" />
    </label>

    <button type="submit">Add Project</button>
</EditForm>
