@page "/projects"

@using TicketPusher.Server.Utils
@inherits ProjectsBase

@if (Entities != null)
{
    <TableTemplate Items="Entities" Context="project">
        <TableHeader>
            <th>Id</th>
            <th>Name</th>
        </TableHeader>
        <RowTemplate>
                <td title="@project.Id">@project.Id.ToShortGuid()</td>
                <td>@project.Name</td>
        </RowTemplate>
    </TableTemplate>
}
else
{
    <p><em>loading...</em></p>
}

<EditProject @bind-ParentProjects="Entities" @bind-ParentProjects:event="ParentProjectsChanged" />
