@page "/projects"

@inherits ProjectsBase

@if (projects != null)
{
    <TableTemplate Items="projects" Context="project">
        <TableHeader>
            <th>Id</th>
            <th>Name</th>
        </TableHeader>
        <RowTemplate>
                <td title="@project.Id">@project.Id.ToString().Split("-")[0]</td>
                <td>@project.Name</td>
        </RowTemplate>
    </TableTemplate>
}
else
{
    <p><em>loading...</em></p>
}

<EditProject @bind-ParentProjects="projects" @bind-ParentProjects:event="ParentProjectsChanged" />
