@page "/projects"

@using TicketPusher.Server.Utils
@inherits ProjectsBase
@attribute [Authorize]

<TableTemplate Items="Entities" Context="project">
    <TableHeader>
        <th><EditProject OnSubmitProject="RefreshData" /></th>
        <th>Id</th>
        <th>Name</th>
    </TableHeader>
    <RowTemplate>
            <MatIconButton>
                <i title="Edit" class="oi oi-pencil" ></i>
            </MatIconButton>
            <td title="@project.Id">@project.Id.ToShortGuid()</td>
            <td>@project.Name</td>
    </RowTemplate>
</TableTemplate>
