@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment HostEnvironment


@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <BlazoredToasts />
    <BlazoredModal />
    <div class="top-row px-4">
        Environment: @HostEnvironment.EnvironmentName
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
